<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphago.alphago">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.ImageRecognitionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.CardBookActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.WordLearningActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.CardBookListActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.CardListActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SendImageActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.GameImageActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.GameWordActivity2"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.GameResultActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.CollectionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.CollectionListActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.GameWordActivity1"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.GameWordActivity3"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>